@import 'variables';

.card {
  margin-top: 1rem;
  width: 350px;
  border: 1px solid $dark;

  &:hover {
   box-shadow: 0 0 2em 0 rgba($color-gray-dark,1);
   filter: grayscale(100%);
   transition: all 0.3s ease-in-out;
 }
}

.btn-project{
  &:hover {
    color: white;
    background-color: black;
  }
}
