@import url("https://fonts.googleapis.com/css?family=Monoton|Montserrat");
.section-divider-title {
  color: #607D8B;
  position: relative;
  z-index: 1;
  text-align: left;
  text-transform: uppercase;
  margin-top: 40px; }
  .section-divider-title:before {
    border-top: 2px solid #B0BEC5;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1; }
  .section-divider-title span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #ffffff;
    padding-right: 15px;
    font-size: 1rem; }
  .section-divider-title img {
    margin-left: 10px;
    width: 40px;
    height: 40px; }
