@import url("https://fonts.googleapis.com/css?family=Monoton|Montserrat");
.pills {
  margin: 20px 0;
  overflow: hidden;
  clear: both; }
  .pills::after {
    content: '';
    display: table; }
  .pills .capsule {
    float: left;
    background-color: rgba(20, 85, 143, 0.5);
    color: #ffffff;
    border-radius: 100px;
    margin: 5px 5px 5px 0px;
    padding: 5px 10px; }
