.masonry {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1950px;
  text-align: center;
  margin: auto; 

  & > div {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 15px;
  }
}
